<div class="container-scroller">
    <!-- partial:../../partials/_navbar.html -->
    <app-navbar></app-navbar>
    <!-- partial -->
    <div class="container-fluid page-body-wrapper">
        <!-- partial:../../partials/_sidebar.html -->
        <app-sidebar></app-sidebar>
        <!-- partial -->
        <div class="main-panel">
            <div class="content-wrapper">
                <!-- Page Title Header Starts-->
                <app-header></app-header>
                <!-- Page Title Header Ends-->
                <div class="row">
                    <div class="col-lg-12 grid-margin stretch-card">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">Listagem de Produtos</h4>

                                <div class="row">
                                    <div class="col-md-1">
                                       <div class="form-group">
                                        <select class="form-control" (change)="listOfProduts()" [(ngModel)]="filters.pagination.perPage">
                                            <option>5</option>
                                            <option>10</option>
                                            <option>15</option>
                                            <option>20</option>
                                            <option>25</option>
                                        </select>
                                        <small>Entrada</small>
                                       </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <input type="text" (keyup)="onSearch()" [(ngModel)]="filters.search" placeholder="Pesquisar..." class="form-control" />
                                            <small>Pesquisar por (Produto, Categória, Tipo Produto)...</small>
                                        </div>
                                    </div>
                                    <div class="col-md-1">
                                        <div class="form-group">
                                            <input class="form-control" [(ngModel)]="filters.start_date" type="date">
                                            <small>Data Inicio</small>
                                        </div>
                                    </div>
                                    <div class="col-md-1">
                                        <div class="form-group">
                                            <input class="form-control" [(ngModel)]="filters.end_date" type="date">
                                            <small>Data Fim</small>
                                        </div>
                                    </div>
                                    <div class="col-md-1">
                                        <button (click)="listOfProduts()" class="btn btn-primary">Filtrar</button>
                                    </div>
                                    <div class="col-md-1">
                                        <button type="button" class="btn btn-primary btn-sm" (click)="exportExcel()" title="Exportar Excel"><i class="fa fa-file-excel-o"></i></button>
                                    </div>
                                    <div class="col-md-2" style="text-align: right;">
                                        <button class="btn btn-primary btn-flat" data-toggle="modal" data-target="#createOrEditProdutoModal">Registar Produto</button>
                                    </div>
                                </div>
                                <hr>
                                <div class="table-responsive" style="height: 400px;">
                                    
                                    <spinner-overlay [loading]="loading"></spinner-overlay>
                                    
                                    <table class="table table-hover table-striped text-center">
                                        <tbody *ngIf="products">
                                            <tr style="color: white; background: #FF4949; position: sticky; top: 0;">
                                                <th>#</th>
                                                <th with="200px">Nome</th>
                                                <th with="200px">Imagem</th>
                                                <th with="200px">Preço</th>
                                                <th with="200px">Quantidade</th>
                                                <th with="200px">Categória Produto</th>
                                                <th with="200px">Tipo de Produto</th>
                                                <th with="200px">Estado</th>
                                                <th with="200px">Data</th>
                                                <th with="200px">Opções</th>
                                            </tr>
                                            <tr *ngFor="let item of products | paginate: { itemsPerPage: this.filters.pagination.perPage, currentPage: this.filters.pagination.page, totalItems: this.filters.pagination.total }; index as i">
                                                <td> {{i+1}} </td>
                                                <td>{{ item.name}}</td>
                                                <td>
                                                    <span *ngIf="item.image">
                                                        <img [src]="previewImage(item.image)" width="500" height="600">
                                                    </span>
                                                    <span *ngIf="!item.image">Carrega uma imagem</span>
                                                </td>
                                                <td>{{ configService.numberFormat(item.value) }}</td>
                                                <td>{{ item.quantity}}</td>
                                                <td>{{ item.categorie || '---' }}</td>
                                                <td>{{ item.product_type || '---' }}</td>
                                                <td>
                                                    <span *ngIf="item.is_active" class="bg bg-warning" style="padding: 8px 20px; font-size: 12px; color: black; border-radius: 5px;">Activo</span>
                                                    <span *ngIf="!item.is_active" class="bg bg-danger" style="padding: 8px 20px; font-size: 12px; color: black; border-radius: 5px;">Inactivo</span>
                                                </td>
                                                <td>{{ item.created_at | date: 'dd-MM-yyyy'}}</td>
                                                <td>
                                                    <div class="dropdown ml-lg-auto ml-3 toolbar-item">
                                                        <button class="btn btn-primary dropdown-toggle">Operações</button>
                                                        <ul class="dropdown-menu">
                                                          <li class="dropdown-item" href="javascript:void(0)" (click)="setProduct(item)" data-toggle="modal" data-target="#createOrEditProdutoModal">Editar</li>
                                                          <li class="dropdown-item" href="javascript:void(0)" (click)="setProduct(item)" data-toggle="modal" data-target="#increaseStockModal">Aumentar Stock</li>
                                                          <li class="dropdown-item" href="javascript:void(0)" (click)="setProduct(item)" data-toggle="modal" data-target="#shareProuctFacebookModal">Partilhar no facebook</li>
                                                          <li class="dropdown-item" href="javascript:void(0)" (click)="setProduct(item);desactivarProduto()">Desactivar Produto</li>
                                                        </ul>
                                                      </div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="footer">
                                    <div class="row">
                                      <div class="col-sm-12 col-md-5">
                                        <div class="dataTables_info">Mostrando de {{this.filters.pagination.page}} a
                                          {{this.filters.pagination.perPage}} de
                                          {{this.filters.pagination.total}} produtos
                                        </div>
                                      </div>
                                      <div class="col-sm-12 col-md-7">
                                          <pagination-controls (pageChange)="getPageData($event)" previousLabel="Anterior" nextLabel="Proximo"></pagination-controls>
                                      </div>
                                    </div>
                                  </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- content-wrapper ends -->
            <!-- partial:../../partials/_footer.html -->
            <app-footer></app-footer>
            <!-- partial -->
        </div>
        <!-- main-panel ends -->
    </div>
    <!-- page-body-wrapper ends -->
    <createOrEditProduto [product]="product" [modal]=""></createOrEditProduto>
    <increaseStock [product]="product" [modal]=""></increaseStock>
    <app-share-prouct-on-facebook [product]="product" [modal]=""></app-share-prouct-on-facebook>
</div>