<div class="modal modal-info fade in" data-backdrop="static" id="{{modal}}">
    <div class="modal-dialog modal-lg" style="max-width: 1000px;">
        <div class="modal-content">
            <form [formGroup]="bannerForm" (submit)="createOrEdit();" enctype="multipart/form-data">
                <div class="modal-header">
                    <h5 class="modal-title"><i class="fa fa-newspaper-o" aria-hidden="true"></i> {{title}}</h5>
                    <button id="close" type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <ngx-loading [show]="loading"></ngx-loading>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label"><i class="fa fa-edit"></i> Titulo</label>
                                <input type="text" formControlName="title" name="title" class="form-control" placeholder="title" 
                                [ngClass]="{ 'is-invalid': submitted && f.title.errors, 'is-valid': f.title.touched && !f.title.errors }" />
                                <div *ngIf="submitted && f['title'].errors" class="invalid-feedback">
                                    <div *ngIf="f['title'].errors.required">O campo title é obrigatório</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label"><i class="fa fa-edit"></i> Sub Titulo</label>
                                <input type="text" formControlName="sub_title" name="sub_title" class="form-control" placeholder="Assunto" 
                                [ngClass]="{ 'is-invalid': submitted && f.sub_title.errors, 'is-valid': f.sub_title.touched && !f.sub_title.errors }" />
                                <div *ngIf="submitted && f['sub_title'].errors" class="invalid-feedback">
                                    <div *ngIf="f['sub_title'].errors.required">O campo sub_title é obrigatório</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label"><i class="fa fa-edit"></i> Ordem</label>
                                <input type="number" formControlName="ordem" min="1" name="ordem" class="form-control" placeholder="ordem" 
                                [ngClass]="{ 'is-invalid': submitted && f.ordem.errors, 'is-valid': f.ordem.touched && !f.ordem.errors }" />
                                <div *ngIf="submitted && f['ordem'].errors" class="invalid-feedback">
                                    <div *ngIf="f['ordem'].errors.required">O campo ordem é obrigatório</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label"><i class="fa fa-edit"></i> Estado</label>
                                <select class="form-control" 
                                formControlName="is_active"
                                 [ngClass]="{ 'is-invalid': submitted && f.is_active.errors, 'is-valid': f.is_active.touched && !f.is_active.errors }">
                                    <option value="1">Activo</option>
                                    <option value="0">Inactivo</option>
                                </select>
                                <div *ngIf="submitted && f['is_active'].errors" class="invalid-feedback">
                                    <div *ngIf="f['is_active'].errors.required">O campo estado é obrigatório</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label"><i class="fa fa-edit"></i>Imagem</label>
                                <input (change)="uploadFile($event)" accept="image/jpeg,image/gif,image/png,application/pdf,image/x-eps" type="file" name="image" class="form-control"
                                    placeholder="Imagem"
                                    [ngClass]="{ 'is-invalid': submitted && f.image.errors, 'is-valid': f.image.touched && !f.image.errors }" />
                                <div *ngIf="submitted && f['image'].errors" class="invalid-feedback">
                                    <div *ngIf="f['image'].errors.required"> O campo Imagem é obrigatório</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                    <button class="btn btn-danger btn-sm" type="reset" [disabled]="bannerForm.pristine && !submitted" (click)="onReset()">Limpar</button>
                    <button class="btn btn-success btn-sm mr-1" type="submit" [disabled]="bannerForm.valid">Validar</button>
                    <button type="submit" [disabled]="bannerForm.pristine || bannerForm.invalid" class="btn btn-primary btn-sm">Salvar</button>
                </div>
            </form>
        </div>
    </div>
</div>
