<div class="modal modal-info fade in" data-backdrop="static" id="{{modal}}">
    <div class="modal-dialog modal-lg" style="max-width: 1000px;">
        <div class="modal-content">
            <form [formGroup]="productForm" (submit)="createOrEdit();" enctype="multipart/form-data">
                <div class="modal-header">
                    <h5 class="modal-title"><i class="fa fa-archive" aria-hidden="true"></i> {{title}}</h5>
                    <button id="close" type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <ngx-loading [show]="loading"></ngx-loading>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label"><i class="fa fa-edit"></i> Associar Parceiro</label>
                                <input type="text" formControlName="search" (keyup)="listOfPartners()" name="search" class="form-control" placeholder="Pesquisar parceiro"/>

                                <div class="list_partners" *ngIf="view_list">
                                    <ul *ngFor="let item of partners" class="form-control custom-ul">
                                        <li (click)="handPartner(item)" class="custom-li">{{ item.name }}</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label"><i class="fa fa-edit"></i> Nome</label>
                                <input type="text" formControlName="name" name="name" class="form-control" placeholder="Nome" 
                                [ngClass]="{ 'is-invalid': submitted && f.name.errors, 'is-valid': f.name.touched && !f.name.errors }" />
                                <div *ngIf="submitted && f['name'].errors" class="invalid-feedback">
                                    <div *ngIf="f['name'].errors.required">O campo nome é obrigatório</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label"><i class="fa fa-edit"></i> Valor</label>
                                <input
                                    type="number"
                                    formControlName="value"
                                    name="value"
                                    min="1"
                                    class="form-control"
                                    placeholder="Valor"
                                    [ngClass]="{ 'is-invalid': submitted && f.value.errors, 'is-valid': f.value.touched && !f.value.errors }"
                                />
                                <div *ngIf="submitted && f['value'].errors" class="invalid-feedback">
                                    <div *ngIf="f['value'].errors.required">O campo valor é obrigatório</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label"><i class="fa fa-edit"></i> Quantidade</label>
                                <input
                                    type="number"
                                    formControlName="quantity"
                                    name="quantity"
                                    min="1"
                                    class="form-control"
                                    placeholder="Quantidade"
                                    [ngClass]="{ 'is-invalid': submitted && f.quantity.errors, 'is-valid': f.quantity.touched && !f.quantity.errors }"
                                />
                                <div *ngIf="submitted && f['quantity'].errors" class="invalid-feedback">
                                    <div *ngIf="f['quantity'].errors.required">O campo quantidade é obrigatório</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label"><i class="fa fa-edit"></i> Estado</label>
                                <select class="form-control" 
                                formControlName="is_active"
                                 [ngClass]="{ 'is-invalid': submitted && f.is_active.errors, 'is-valid': f.is_active.touched && !f.is_active.errors }">
                                    <option value="1">Activo</option>
                                    <option value="0">Inactivo</option>
                                </select>
                                <div *ngIf="submitted && f['is_active'].errors" class="invalid-feedback">
                                    <div *ngIf="f['is_active'].errors.required">O campo estado é obrigatório</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label"><i class="fa fa-edit"></i> Categoria</label>
                                <select class="form-control" 
                                formControlName="product_categorie_id"
                                 [ngClass]="{ 'is-invalid': submitted && f.product_categorie_id.errors, 'is-valid': f.product_categorie_id.touched && !f.product_categorie_id.errors }">
                                    <option value="{{item.id}}" *ngFor="let item of categories">{{item.description}}</option>
                                </select>
                                <div *ngIf="submitted && f['product_categorie_id'].errors" class="invalid-feedback">
                                    <div *ngIf="f['product_categorie_id'].errors.required">O campo categoria é obrigatório</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label"><i class="fa fa-edit"></i> Tipo de Produto</label>
                                <select class="form-control" 
                                formControlName="product_type_id"
                                 [ngClass]="{ 'is-invalid': submitted && f.product_type_id.errors, 'is-valid': f.product_type_id.touched && !f.product_type_id.errors }">
                                    <option value="{{item.id}}" *ngFor="let item of product_types">{{item.name}}</option>
                                </select>
                                <div *ngIf="submitted && f['product_type_id'].errors" class="invalid-feedback">
                                    <div *ngIf="f['product_type_id'].errors.required">O campo tipo de produto é obrigatório</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label"><i class="fa fa-edit"></i> Imposto</label>
                                <select class="form-control" 
                                formControlName="tax_id"
                                 [ngClass]="{ 'is-invalid': submitted && f.tax_id.errors, 'is-valid': f.tax_id.touched && !f.tax_id.errors }">
                                    <option value="{{item.id}}" *ngFor="let item of taxes">{{ item.description }} - {{ item.value }}</option>
                                </select>
                                <div *ngIf="submitted && f['tax_id'].errors" class="invalid-feedback">
                                    <div *ngIf="f['tax_id'].errors.required">O campo imposto é obrigatório</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label"><i class="fa fa-edit"></i>Imagem</label>
                                <input (change)="uploadFile($event)" accept="image/jpeg,image/gif,image/png,application/pdf,image/x-eps" type="file" name="image" class="form-control"
                                    placeholder="Imagem"
                                    [ngClass]="{ 'is-invalid': submitted && f.image.errors, 'is-valid': f.image.touched && !f.image.errors }" />
                                <div *ngIf="submitted && f['image'].errors" class="invalid-feedback">
                                    <div *ngIf="f['image'].errors.required"> O campo Imagem é obrigatório</div>
                                </div>
                                <!--<img *ngIf="image_preview" style="width:100%;height: 300px;" [src]="image_preview">-->
                            </div>
                        </div>
                        <!--<div class="col-md-12">
                            <div class="form-group">
                                <label class="control-label"><i class="fa fa-edit"></i> Descrição</label>
                                <textarea
                                    type="text"
                                    formControlName="descricao"
                                    name="descricao"
                                    class="form-control"
                                    placeholder="Nome">
                                </textarea>                               
                            </div>
                        </div>-->
                    </div>
                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                    <button class="btn btn-danger btn-sm" type="reset" [disabled]="productForm.pristine && !submitted" (click)="onReset()">Limpar</button>
                    <button class="btn btn-success btn-sm mr-1" type="submit" [disabled]="productForm.valid">Validar</button>
                    <button type="submit" [disabled]="productForm.pristine || productForm.invalid" class="btn btn-primary btn-sm">Salvar</button>
                </div>
            </form>
        </div>
    </div>
</div>
