/* Estilos para a lista não ordenada */
.custom-ul {
    list-style-type: square; /* Define o estilo do marcador (pode ser circle, disc, etc.) */
}

/* Estilos para os itens da lista */
.custom-li {
    list-style: none;
    color: #333; /* Define a cor do texto dos itens */
    padding: 5px; /* Define o espaçamento interno dos itens */
    cursor: pointer; /* Transforma o cursor em uma mão ao passar por cima dos itens */
}

.custom-li:hover {
    background-color: #f0f0f0; /* Define uma cor de fundo ao passar o cursor por cima dos itens */
}
