.dropdown-item:hover{ 
    background-color:#1c45ef;
    color: white;
    cursor: pointer;
  }
  
  /* Estilos para a lista não ordenada */
  .custom-ul {
    list-style-type: square; /* Define o estilo do marcador (pode ser circle, disc, etc.) */
  }
  
  /* Estilos para os itens da lista */
  .custom-li {
    list-style: none;
    color: #333; /* Define a cor do texto dos itens */
    padding: 5px; /* Define o espaçamento interno dos itens */
    cursor: pointer; /* Transforma o cursor em uma mão ao passar por cima dos itens */
  }
  
  .custom-li:hover {
    background-color: #f0f0f0; /* Define uma cor de fundo ao passar o cursor por cima dos itens */
  }
  

  .autocomplete-container {
    position: absolute;
    width: 97.4%;
    z-index: 1;
    background: #fff;
    height: auto;
    box-shadow: 0 2px 5px rgba(0,0,0,.25);
    box-sizing: border-box;
}

.autocomplete-container ul {
    padding: 0;
    margin: 0;
    max-height: 494px;
    overflow-y: auto;
}

.autocomplete-container ul li {
    position: relative;
    list-style: none;
    padding: 0;
    margin: 0;
    cursor: pointer;
}


.autocomplete-container ul li a {
    padding: 14px 15px;
    display: block;
    text-decoration: none;
    cursor: pointer;
    color: rgba(0,0,0,.87);
    font-size: 15px;
    text-transform: uppercase;
}

.autocomplete-container ul li a:hover {
    background: #f4f4f5;
}
