<nav class="sidebar sidebar-offcanvas" id="sidebar">
  <ul class="nav">
    <br />
    <br />
    <!-- Perfil do utilizador -->
    <li class="nav-item nav-profile">
      <a class="nav-link">
        <div class="profile-image">
          <div class="dot-indicator bg-success"></div>
        </div>
        <div class="text-wrapper">
          <p class="profile-name">{{ current_user?.nome }}</p>
          <p class="designation">{{ current_user?.roles[0] }}</p>
        </div>
      </a>
    </li>

    <!-- Menu Principal -->
    <li class="nav-item nav-category">Menu Principal</li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/home" routerLinkActive>
        <i class="fas fa-home menu-icon"></i>
        <span class="menu-title">Dashboard</span>
      </a>
    </li>

    <!-- Gestão de Transportes -->
    <li class="nav-item">
      <a
        class="nav-link"
        data-toggle="collapse"
        href="#transportes"
        aria-expanded="false"
        aria-controls="transportes"
      >
        <i class="fas fa-bus menu-icon"></i>
        <span class="menu-title">Transportes</span>
        <i class="menu-arrow"></i>
      </a>
      <div class="collapse" id="transportes">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item">
            <a class="nav-link" routerLink="/transportes/autocarros"
              >Autocarros</a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link"
              routerLink="/transportes/viagens"
              routerLinkActive="active"
              >Viagens</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/lugares">Lugares</a>
          </li>
        </ul>
      </div>
    </li>

    <!-- Gestão de Empresas -->
    <li class="nav-item">
      <a
        class="nav-link"
        routerLink="/configuracao/empresa"
        routerLinkActive="active"
      >
        <i class="menu-icon typcn typcn-group"></i>
        <span class="menu-title">Empresa</span>
      </a>
    </li>

    <!-- Reservas e Bilhetes -->
    <li class="nav-item">
      <a
        class="nav-link"
        data-toggle="collapse"
        href="#reservas"
        aria-expanded="false"
        aria-controls="reservas"
      >
        <i class="fas fa-ticket-alt menu-icon"></i>
        <span class="menu-title">Reservas e Bilhetes</span>
        <i class="menu-arrow"></i>
      </a>
      <div class="collapse" id="reservas">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item">
            <a class="nav-link" routerLink="/reservas-bilhetes/reservas">Reservas</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/reservas-bilhetes/bilhetes">Bilhetes</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/reservas-bilhetes/pagamentos">Pagamentos</a>
          </li>
        </ul>
      </div>
    </li>

    <!-- Configurações -->
    <li class="nav-item">
      <a
        class="nav-link"
        data-toggle="collapse"
        href="#configuracoes"
        aria-expanded="false"
        aria-controls="configuracoes"
      >
        <i class="fas fa-cogs menu-icon"></i>
        <span class="menu-title">Configurações</span>
        <i class="menu-arrow"></i>
      </a>
      <div class="collapse" id="configuracoes">
        <ul class="nav flex-column sub-menu">
          <!-- Gestão de Acessos -->
          <li class="nav-item">
            <a
              class="nav-link"
              data-toggle="collapse"
              href="#acessos"
              aria-expanded="false"
              aria-controls="acessos"
            >
              <i class="fas fa-user-shield menu-icon"></i>
              <span class="menu-title">Gestão de Acessos</span>
              <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="acessos">
              <ul class="nav flex-column sub-menu">
                <li class="nav-item">
                  <a class="nav-link" routerLink="/configuracao/utilizadores"
                    >Utilizadores</a
                  >
                </li>
                <li class="nav-item">
                  <a class="nav-link" routerLink="/configuracao/roles"
                    >Perfis</a
                  >
                </li>
                <li class="nav-item">
                  <a class="nav-link" routerLink="/configuracao/permissions"
                    >Permissões</a
                  >
                </li>
              </ul>
            </div>
          </li>

          <!-- Estrutura de Morada -->
          <li class="nav-item">
            <a
              class="nav-link"
              data-toggle="collapse"
              href="#morada"
              aria-expanded="false"
              aria-controls="morada"
            >
              <i class="fas fa-map-marked-alt menu-icon"></i>
              <span class="menu-title">Estrutura de Morada</span>
              <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="morada">
              <ul class="nav flex-column sub-menu">
                <li class="nav-item">
                  <a class="nav-link" routerLink="/configuracao/provincias"
                    >Provincias</a
                  >
                </li>
                <li class="nav-item">
                  <a class="nav-link" routerLink="/configuracao/municipios"
                    >Municípios</a
                  >
                </li>
                <li class="nav-item">
                  <a class="nav-link" routerLink="/configuracao/distritos"
                    >Distritos</a
                  >
                </li>
                <li class="nav-item">
                  <a class="nav-link" routerLink="/configuracao/bairros"
                    >Bairros</a
                  >
                </li>
              </ul>
            </div>
          </li>

          <!-- Outros -->
          <li class="nav-item">
            <a class="nav-link" routerLink="/configuracao/imposto">
              <i class="fas fa-receipt menu-icon"></i>
              Impostos
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/configuracao/formas-pagamento">
              <i class="fas fa-money-bill-wave menu-icon"></i>
              Formas de Pagamento
            </a>
          </li>
        </ul>
      </div>
    </li>
  </ul>
</nav>
