  /* Estilos para a lista principal */
  ul {
    list-style-type: none;
    padding: 0;
}

/* Estilos para os itens da lista principal */
li {
    background-color: #f0f0f0;
    margin: 5px 0;
    padding: 10px;
}

/* Estilos para os subitens */
ul.subcategorias {
    list-style-type: circle;
    padding-left: 20px;
}

/* Estilos para os subitens */
ul.subcategorias li {
    background-color: #e0e0e0;
}