<div class="modal modal-info fade in" id="{{modal}}">
    <div class="modal-dialog modal-lg" style="max-width: 800px;">
        <div class="modal-content">
            <form [formGroup]="aproveOrderForm" (submit)="updateDeliveryAddress();">
                <div class="modal-header">
                    <h5 class="modal-title">{{title}}</h5>
                    <button id="close" type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <h5 *ngIf="order" class="bg bg-danger" style="color: white; padding: 15px 15px;">Cliente: <strong>{{order.customer}}</strong></h5>
                    <hr />
                    <ngx-loading [show]="loading"></ngx-loading>
                    <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="control-label"><i class="fa fa-edit"></i> Local de Entrega</label>
                                    <textarea
                                        type="text"
                                        formControlName="delivery_address"
                                        name="delivery_address"
                                        class="form-control"
                                        placeholder="Descrição"
                                        [ngClass]="{ 'is-invalid': submitted && f.delivery_address.errors, 'is-valid': f.delivery_address.touched && !f.delivery_address.errors }"
                                    >
                                    </textarea>
                                    <div *ngIf="submitted && f['delivery_address'].errors" class="invalid-feedback">
                                        <div *ngIf="f['delivery_address'].errors.required">O campo local de entrega é obrigatório</div>
                                    </div>
                                </div>
                            </div>
                    </div>
                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                    <button class="btn btn-danger btn-sm" type="reset" [disabled]="aproveOrderForm.pristine && !submitted" (click)="onReset()">Limpar</button>
                    <button class="btn btn-success btn-sm mr-1" type="submit" [disabled]="aproveOrderForm.valid">Validar</button>
                    <button type="submit" [disabled]="aproveOrderForm.pristine || aproveOrderForm.invalid" class="btn btn-primary btn-sm">Salvar</button>
                </div>
            </form>
        </div>
    </div>
</div>
