<div class="modal modal-info fade in" id="{{modal}}">
    <div class="modal-dialog modal-lg" style="max-width: 600px;">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">{{title}}</h5>
                <button id="close" type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <table *ngIf="processo" class="table table-hover table-striped">
                    <tbody>
                        <tr>
                            <th>Nº Processo:</th>
                            <td>{{processo.codigo}}</td>
                        </tr>
                        <tr>
                            <th>Cliente:</th>
                            <td>{{processo.customer}}</td>
                        </tr>
                        <!--<tr>
                            <th>Total:</th>
                            <td>{{ configService.numberFormat(order.total_without_tax) }}</td>
                        </tr>-->
                    </tbody>
                </table>
                <hr />
                <div class="table-responsive">
                    <ngx-loading [show]="loading"></ngx-loading>
                    <table class="table table-hover table-striped text-center" *ngIf="process_documents.length;else emptyList">
                        <tbody>
                            <tr style="color: white; background: #FF4949; position: sticky; top: 0;">
                                <th with="200px">#</th>
                                <th with="200px">Estado</th>
                                <th with="200px">Validado Por</th>
                                <th with="200px">Data Registo</th>
                            </tr>
                            <tr *ngFor="let item of process_documents; index as i">
                                <td>{{ i+1 }}</td>
                                <!--<td>
                                    <span *ngIf="item.order_status == 'AGUARDAR_APROVACAO'" class="bg bg-danger" style="padding: 8px 20px; font-size: 12px; color: black; border-radius: 5px;">
                                        {{ item.status_description }}
                                    </span>
                                    <span *ngIf="item.order_status == 'APROVADA'" class="bg bg-warning" style="padding: 8px 30px; font-size: 12px; color: black; border-radius: 5px;">{{ item.status_description }}</span>
                                    <span *ngIf="item.order_status == 'ENCOMENDA_A_SER_PREPARADA'" class="bg bg-secondary" style="padding: 8px 20px; font-size: 12px; color: black; border-radius: 5px;">
                                        {{ item.status_description }}
                                    </span>
                                    <span *ngIf="item.order_status == 'ENVIADA'" class="bg bg-secondary" style="padding: 8px 20px; font-size: 12px; color: black; border-radius: 5px;">{{ item.status_description }}</span>
                                    <span *ngIf="item.order_status == 'ENTREGUE'" class="bg bg-success" style="padding: 8px 20px; font-size: 12px; color: black; border-radius: 5px;">{{ item.status_description }}</span>
                                    <span *ngIf="item.order_status == 'CANCELADA'" class="bg bg-secondary" style="padding: 8px 20px; font-size: 12px; color: black; border-radius: 5px;">{{ item.status_description }}</span>
                                </td>-->
                                <td>{{ item.user }}</td>
                                <td>{{ item.created_at | date: 'dd-MM-yyyy'}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Fechar</button>
            </div>
        </div>
    </div>
</div>

<ng-template #emptyList>
    <div align="center">
        <h2>Sem resultados</h2>
        <span></span>
    </div>
</ng-template>
